@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@font-face {
  font-family: "Lady Starlight";
  src: local("Lady Starlight"),
    url("./public/fonts/Lady Starlight.otf") format("otf");
}

:root {
  font-family: Inter, system-ui, Helvetica, Arial, sans-serif;
  color: #f2e9ed;
  background-color: #030303;
}
